@import 'modern-normalize/modern-normalize.css';

html,
body,
#root {
  height: 100%;
}
body {
  color: #f6f6f6;
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

/* Портал для модалки */
#modal-root {
  position: relative;
  z-index: 9999;
}
